<ion-header>
  <ion-toolbar style="--background: transparent">
    <ion-title>Avisos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen style="--background: url(../../assets/fundoOriginal.png) no-repeat center center;">


  <div id="aviso4" class="avisos animated fadeInDown " >
    <ion-card class="cardTrilha" >
      <h1>Título_Aviso4;</h1>
      <ion-card-content>
        <p>Conteudo_aviso;</p>
        <p>Data do aviso: (sistema);</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="aviso3" class="avisos animated fadeInDown " >
    <ion-card class="cardTrilha" >
      <h1>Título_Aviso3;</h1>
      <ion-card-content>
        <p>Conteudo_aviso;</p>
        <p>Data do aviso: (sistema);</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="aviso2" class="avisos animated fadeInDown " >
    <ion-card class="cardTrilha" >
      <h1>Título_Aviso2;</h1>
      <ion-card-content>
        <p>Conteudo_aviso;</p>
        <p>Data do aviso: (sistema);</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="aviso1" class="avisos animated fadeInDown " >
    <ion-card class="cardTrilha" >
      <h1>Título_Aviso1;</h1>
      <ion-card-content>
        <p>Conteudo_aviso;</p>
        <p>Data do aviso: (sistema);</p>
      </ion-card-content>
    </ion-card>
  </div>





</ion-content>
