div.trilhas{
  padding-left: 15px;
  padding-right: 15px;
}

div.divClick{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button {
  color: #663300;
  margin: 5px;
  margin-top: 10px;
}

ion-card.cardTrilha{
  background: rgba(0, 0, 0, 0.1);
  color: goldenrod;
  font-weight: bold;
  font-variant: small-caps;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: goldenrod solid 1px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: 2px 2px #2f2f2f;
}
h1 {
  font-weight: bolder;
  font-size: medium;
}

ion-card-subtitle{
  font-size: medium;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h6 {
  padding: 0;
  margin: 1px;
}
span {
  font-weight: bold;
}

ion-card-content {
  font-size: small;
  color: black;
}

img {
  padding: 4px;
}
