
/* CAIXA PARA ADICIONAR NOVAS OCORRÊNCIAS */
ion-card#iconeAdd{
  padding-left: 2px;
  padding-right: 2px;
  background: rgba(255, 0, 0, .05);
  color: rgba(0, 0, 0, .7);
  font-weight: bold;
  font-variant: small-caps;
  font-size: X-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #663300 solid 1px;
  margin: 10px 25px 0 25px;
}

div#addOc{
  //width: 100%;
  //background: rgba(255, 255, 255, .5);
  //margin-right: 2px;
  //margin-left: 2px;
  font-variant: small-caps;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-shadow: 1px -1px 3px #000000;

}
ion-icon.iconAdd{
  color: #d30c03;
  font-size: xx-large;
  font-weight: bold;
  margin-right: 5px;
}
div p {
  color: #d30c03;
  font-size: 14pt;
  font-weight: bold;
}
/* ==================== */

/* CARD INPUT DE NOVAS OCORRÊNCIAS*/

div#cardAddOc{
  margin-bottom: 200px;
}
ion-card#addOcorrencia{
  background-color: #303030;
  color: white;
  padding-bottom: 0px;
}

ion-label#labelSelect{
  width: 100px;
  padding-right: 2px;
}

ion-select#selectOc{
  padding-left: 0;
}

ion-icon#cameraOcorrencia {
  color: #c0c0c0;
  padding-left: 45%;
  padding-top: 5px;
  font-size: 30pt;
}


ion-icon#enviarLoc{
  color: rgba(0, 0, 255, .65);
}

ion-list#listaAdiciona {
  margin-bottom: 0px;
  padding-bottom: 0;

}
/*  ====================  */

/*CARDS DAS OCORRENCIAS*/

div.ocorrencias, div#addOc, div#cardAddOc{
  padding-left: 15px;
  padding-right: 15px;
}

ion-button{
  margin-top: 5px;
  border: #663300 solid 1px;
  color: #663300;
  margin-bottom: 10px;

}

ion-card.ocorrencias{
  background: rgba(255, 255, 255, .5);
  color: rgba(0, 0, 0, .7);
  font-weight: bold;
  font-variant: small-caps;
  font-size: X-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #663300 solid 1px;

}
ion-card h1 {
  font-weight: bolder;
  font-variant: small-caps;
}
div#SubTitle{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
ion-card-title{
  font-weight: bold;
  margin-top: 10px;
}

ion-card-subtitle{
  font-size: medium;
  color: black;
}
h5{
  padding: 0;
  font-size: x-large;
  font-weight: bold;
}
h6 {
  font-weight: bold;
  padding: 0;
  margin: 1px;
}
span {
  font-weight: bold;
}
ion-card-content {
  font-size: small;
  color: black;
}
ion-card img {
  padding: 4px;
}

ion-card.cadaOcorrencia{
  margin-left: 0;
  margin-right: 0;
}




