<ion-header>
  <ion-toolbar style="--background: transparent">
    <ion-title>IcmBio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen style="--background: url(../../assets/fundoOriginal.png) no-repeat center center;">
  <ion-card>
    <ion-card-title>
      <h1>Programa Voluntariado</h1>
      <h1 style="margin-bottom: 15px">
        do ICMBio
      </h1>
    </ion-card-title>
    <ion-buttons>
      <ion-button shape="round" fill="outline" (click)="abrirLogin()">Já é voluntário?</ion-button>
    </ion-buttons>
    <div id="iframe">
      <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/H6egNAQsA24" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <ion-card-subtitle>
      <p>O que é o projeto?</p>
    </ion-card-subtitle>
    <ion-card-content>
      <p>
        O vuluntário ICMBio é uma oportunidade para cada um exercitar sua
        cidadania e contribuir para um meio ambiente mais equilibrado e melhoria da
        qualidade de vida local. A população pode atuar juntamente com as equipes do
        ICMBio, em diversas ações de conservações da natureza tais como pesquisa,
        visitação, comunicação, educação ambiental e proteção, entre outras previstas
        na Instrução Normativa nº 03/2016.
      </p>
      <p>
        Desde o início do programa, em 2009, o ICMBio contabiliza mais de
        cento e setenta unidades organizacionais com programa de voluntariado
        formalizado, mas o Programa está em permanente processo de expansão em
        todo país, ampliando a rede de proteção deste patrimônio que é de todos os
        brasileiros.
      </p>
      <p>
        O Programa de Voluntariado do ICMBio tem o propósito de promover o
        engajamento da sociedade na conservação da biodiversidade por meio da
        ação voluntária e do reconhecimento público dessa contribuição.
      </p>

    </ion-card-content>
    <ion-buttons>
       <a href="https://sejaumvoluntarioicmbio.nectosystems.com.br/voluntariado/voluntario/cadastro/" target="_blank">
         <ion-button shape="round" fill="outline">
           Seja um voluntário
         </ion-button>
       </a>

    </ion-buttons>
  </ion-card>
</ion-content>
