ion-card {
  padding: 5px 5px 20px 5px;
  background: rgba(255, 255, 255, .5);
  color: rgba(0, 0, 0, 1);
  font-variant: small-caps;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #663300 solid 1px;
}

ion-button{
  margin-top: 5px;
  margin-bottom: 10px;
  color: #663300;


}

ion-card-title{
  color: black;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

ion-card-title h1{
  margin: 0;
  font-size: X-large;
  font-weight: bold;
}

ion-card-subtitle p{
  margin-top: 10px;
  font-weight: bolder;
  font-size: large;
  color: black;
}
div#iframe{
  width: 100%;
  height: auto;
  padding: 10px;

}
iframe#video{
  width: 100%;
  height: auto;
}

ion-card-content p{
  font-size: 13pt;
  margin-bottom: 5px;

}
