<ion-header>
  <ion-toolbar style="--background: black; color: #396">
    <ion-title>Atrações</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen style="--background: rgb(51, 51, 51);">


  <div class="atracoes animated bounceInDown " >
    <ion-card class="atracoes" >
      <div class="divClick" (click)="mostraEventosF()"> <h1>EVENTOS</h1> </div>
      <div *ngIf="mostraEventos" style="width: 100%">
        <ion-slides pager="true" style="width: 100%; padding-bottom: 5px">

          <ion-slide style="width: 100%">
            <ion-card class="cadaAtracao">
              <img src="../../assets/eventoEX.jpg">
              <ion-card-subtitle padding-top="5px">
                Evento Tal
              </ion-card-subtitle>

              <div class="infoatracoes">
                <p>
                  Descrção do Evento
                </p>
              </div>
              <div class="dataEvento">
                <p>
                  Data e inicio e fim.
                </p>
              </div>
            </ion-card>
          </ion-slide>

          <ion-slide style="width: 100%">
            <ion-card class="cadaAtracao">
              <img src="../../assets/eventoEX2.jpg">
              <ion-card-subtitle padding-top="5px">
                Comemoração Semana Meio Ambiente
              </ion-card-subtitle>

              <div class="infoatracoes">
                <p>
                  Todas as piscinas liberadas.
                </p>
              </div>
              <div class="dataEvento">
                <p>
                  Começa 01/06/2019 e Termina 09/06/2019
                </p>
              </div>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </div>
    </ion-card>
  </div>

  <div class="atracoes animated bounceInDown " >
    <ion-card class="atracoes" >
      <div class="divClick" (click)="mostraPiscinasF()"> <h1>PISCINAS</h1> </div>
      <div *ngIf="mostraPiscinas" style="width: 100%">
        <ion-slides pager="true" style="width: 100%; padding-bottom: 5px">

          <ion-slide style="width: 100%">
            <ion-card class="cadaAtracao">
              <img src="../../assets/piscina1.jpg">
              <ion-card-subtitle padding-top="5px">
                Piscina Areal
              </ion-card-subtitle>

              <div class="infoatracoes">
                <p>
                  A piscina Areal fica aberta todos os dias de 8h às 16h. Nestas piscinas, a água e constantemente renovada devido as nascentes localizadas no seu interior ou nas proximidades.
                </p>
              </div>
            </ion-card>
          </ion-slide>

          <ion-slide style="width: 100%">
            <ion-card class="cadaAtracao">
              <img src="../../assets/piscina2.jpg">
              <ion-card-subtitle padding-top="5px">
                Piscina Pedreira
              </ion-card-subtitle>

              <div class="infoatracoes">
                <p>
                  A piscina Pedreira está disponível somente as quintas-feiras de 8h às 16h.
                </p>
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </ion-card>
  </div>

  <div class="atracoes animated bounceInDown ">
    <ion-card class="atracoes" >
      <div class="divClick" (click)="mostraIlhaF()"><h1 >Ilha da Meditação</h1></div>
      <div *ngIf="mostraIlha" style="width: 100%">
        <ion-slides pager="false" style="width: 100%; padding-bottom: 5px">
          <ion-slide>
            <ion-card class="cadaAtracao">
              <img src="../../assets/IlhaDaMeditacao.jpg">
              <ion-card-subtitle padding-top="5px">
                Ilha da Meditação
              </ion-card-subtitle>

              <div class="infoatracoes">
                <p>
                  Esta ilha foi construída a partir do aproveitamento de uma pequena represa
                  construída para
                  distribuição e abastecimento e água a alguns espaços de visitação do parque.
                  Apesar
                  de ser um
                  ambiente construído, no local se observa a presença principalmente de aves que
                  interagem com
                  ambientes aquáticos.
                </p>
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>

      </div>
    </ion-card>
  </div>

  <div class="atracoes animated bounceInDown ">
    <ion-card class="atracoes" >
      <div class="divClick" (click)="mostraCentroF()"><h1>Centro de Educação</h1></div>
      <div *ngIf="mostraCentro" style="width: 100%">
        <ion-slides pager="false" style="width: 100%; padding-bottom: 5px">
          <ion-slide>
            <ion-card class="cadaAtracao">
              <img src="../../assets/CentroEducacional.jpg">
              <ion-card-subtitle padding-top="5px">
                Centro de Educação Ambiental
              </ion-card-subtitle>
              <div class="infoatracoes">
                <p>
                  Imagine ter um espaço aberto para você expor fotografias e vídeos sobre as suas
                  impressões do
                  Cerrado e
                  do
                  Parque Nacional de Brasília. Imaginou?

                  O Centro de Educação Ambiental esta aberto aos visitantes do Parque Nacional de
                  Brasília de segunda
                  à
                  sexta
                  feira, das 9 às 16 horas. Os interessados em apresentar seu trabalho deverão
                  agendar
                  um horário com
                  os
                  técnicos da área de educação ou visitação do parque.
                </p>
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>

      </div>
    </ion-card>
  </div>


</ion-content>
