.ionContent0 {
   --background: url(../../assets/fundoapp.jpg) no-repeat center center;
}
.ionContent1 {
   --background: url(../../assets/fundoapp2.jpg) no-repeat center center;
}
.ionContent2 {
   --background: url(../../assets/fundoapp3.jpg) no-repeat center center;
}
.ionContent3 {
   --background: url(../../assets/fundoapp4.jpg) no-repeat center center;
}
.ionContent4 {
   --background: url(../../assets/fundoapp5.jpg) no-repeat center center;
}
.ionContent5 {
   --background: url(../../assets/fundoapp6.jpg) no-repeat center center;
}
.ionContent6 {
   --background: url(../../assets/fundoapp7.jpg) no-repeat center center;
}
.ionContent7 {
   --background: url(../../assets/fundoapp8.jpg) no-repeat center center;
}
.ionContent8 {
   --background: url(../../assets/fundoapp9.jpg) no-repeat center center;
}
.ionContent9 {
   --background: url(../../assets/fundoOriginal.png) no-repeat center center;
}









ion-icon{
  color: #0ec254;
}

ion-card{
  background: rgba(255, 255, 255, .3);
  border: #663300 solid 2px;
}

ion-card-title {
  color: #d33939
}

#trilhas{
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
#atracoes{
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#ocorrencias{
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#icmbio{
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#emergencia{
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#notificacoes{
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
