<ion-header>
  <ion-toolbar style="--background: black; color: goldenrod">
    <div id="toolbar">
      <ion-title style="font-weight: bold">Parque Nacional</ion-title>
      <ion-icon (click)="abrirValidacao()" name="alert" style="color: #f25454"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(51, 51, 51)">
  <ion-grid>
      <ion-row no-margin *ngFor="let card of cards">
        <ion-card id="cards" [routerLink]="card.url"  no-margin class="animated bounceInDown">
          <div>
            <ion-img [src]="card.img"></ion-img>
            <ion-card-title>{{card.titulo}}</ion-card-title>
          </div>
        </ion-card>
      </ion-row>

  </ion-grid>


</ion-content>
